.portfolio_pogrid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}
.box img{
    height: 400px;
    width: 400px;
}
.content{
    max-width: 80%;
    margin: auto;
}
article{
    position:relative;
    margin-top: 10rem;
    margin-bottom: 15rem;
    height: 100vh;
    z-index: 1;
}
article img{
    width: 100%;
    height: 100%;
}
article .box{
    position: relative;
    transition: 0.5s;
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
    opacity: 0;
}
.overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--primaryColor);
    z-index: -1;
    transition: 0.5s;
}
article .box:hover .overlay,
article .box:hover .overlay::after{
    opacity: 1;

}

.catbutton{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

}
h1{
    text-align: center;
}
.primaryButton:hover{
    background-color: var(--primaryColor);
    border: 2px solid black;
    color: var(--headingColor);
}
.primaryButton{
    width:max-content;
}

 