@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --headingColor: #2d2e2e;
  --white: #ffff;
  --black:#000;
  --silver: #bac8d3;
  --grayDark: #7d8792;

}
body{
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "poppins", sans-serif;
}
p{
  color: var(--silver);
  margin: 20px 0;
  line-height: 30px;
}
button{
  background: none;
  outline: none;
  padding: 1rem;
  border-radius: 1rem;
  
}